.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-style: normal;
}
.filters-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.filters-item:hover,
.filters-item:focus {
  color: var(--accent-color);
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.examples-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.examples-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
