.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-style: normal;
}
/* ==========FILTERS========== */
.filters {
  margin-top: 94px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filters-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.filters-item:hover,
.filters-item:focus {
  color: var(--accent-color);
}
/* ==========END FILTERS========== */
/* ==========EXAMPLES========== */
.examples {
  display: flex;
  flex-wrap: wrap;
}
.examples-item {
  width: calc((100%-60px) / 3);
}
.examples:not(:nth-last-child(-n + 3)) {
  padding-bottom: 30px;
}
.examples-content {
  padding: 20px 24px;
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);

  margin-bottom: 4px;
}
.examples-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.examples-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ==========END EXAMPLES========== */
